body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-size: 20px;
    background-image: url("IMMAGINI/campo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  input[type="text"],
  button {
    margin-bottom: 10px;
    font-size: 20px;
    padding: 5px;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
  }
  
  .squadra {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
  }
  
  ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;
  }
  
  #messaggio {
    display: none;
    color: red;
    font-size: 18px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: aliceblue;
  }
  
  .container > div {
    margin: 10px;
  }
  
  #indiceSquadra {
    margin: 0;
    font-weight: bold;
  }
  
  .immagine-persona {
    display: block;
    width: 50px;
    height: auto;
    margin: 0 auto 10px;
  }
  
  @media (max-width: 1000px) {
    body {
      font-size: 10px;
    }
    
    .container {
      width: 70%;
      margin: 1 auto;
      margin-top: -10px;
    }
    
    .squadra {
      display: flex;
      flex-direction: column;
    }
    
    .squadra ul {
      padding-inline-start: 10px;
    }
    
    .squadra h2 {
      text-align: center;
    }
  
    button,
    input[type="button"] {
      font-size: 14px;
      padding: 5px 10px;
    }
  
    input[type="text"] {
      font-size: 14px;
      padding: 5px;
    }
  
    .immagine-persona {
      width: 35px;
      height: 43px;
      margin-left: 10px;
      max-width: 100%;
    }
    #apriFinestraBtn {
      background-color: #4287f5;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      width: 100%; /* Larghezza al 100% */
      max-width: 200px; /* Larghezza massima */
      margin: 0 auto 10px; /* Centra orizzontalmente con margine inferiore */
    }
    
  }
  
  #warning-message {
    display: none;
  }
  
  @media only screen and (orientation: portrait) {
    #wrapper {
      display: none;
    }
    
    #warning-message {
      display: block;
    }
  }
  
  @media only screen and (orientation: landscape) {
    #warning-message {
      display: none;
    }
  }
  
  #imagew {
    width: 100%;
    height: 80%;
  }
 
  /* Altri stili personalizzati per la finestra modale */
  #apriFinestraBtn {
    position: fixed;
    top: 20px;
    left: 20px;
  }
  #apriFinestraBtn {
    background-color: #4287f5;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #apriFinestraBtn:hover {
    background-color: #2766c4;
  }
  .finestra-modale {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
  }
  
  .contenuto-finestra-modale {
    background-image: url("IMMAGINI/gilbert.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    text-align: center; /* Centra il contenuto */
  }
  h2 {
    margin-top: 0;
  }

  button#chiudiFinestraBtn {
    background-color: #f44336;
  }
  
  button#chiudiFinestraBtn:hover {
    background-color: #d32f2f;
  }
  